.main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background-image: url("../../../images/bg1.jpg");
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 100px;
}

.subtitle {
  font-size: 25px;
  padding-top: 10px;
}

.intro-text {
  width: 100%;
  text-align: center;
}

.btnContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.btnLogin {
  width: 200px;
  height: 55px;
}
